<% provide(:title, "Home") %>
<h1>Welcome to the Panda Stroll</h1>
    <p>
      Few things are more adorable than Pandas.  Sadly, there are only a 
      little more than 1,800 left in the wild of this endangered species.
      If you'd like to help save the Pandas then join us this Saturday,
      January 9th for The Panda Stroll!  The run will be a 5K through 
      beautifull downtown Charleston to raise awarness for the Panda 
      endagement.
    </p>