<footer class="footer">
  <small>
    Giant <a href="https://nationalzoo.si.edu/animals/giantpandas/pandafacts/">Panda Facts</a>
    by <a href="http://www.worldwildlife.org/species/giant-panda">World Wildlife Fund</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&es_th=1&ie=UTF-8#q=giant+panda+news">News</a></li>
    </ul>
  </nav>
</footer>